<!DOCTYPE html>
<html lang="en">
<head>
<title>Himachal Pradesh Tourism</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\file.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\How to reach.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\contact.css">
<link rel="icon" type="image/x-icon" href="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/castle-on-the-hill-bens-pen.jpg">
</head>
<body>
<div class="header">
  <h3>Himachal</h3>
  <h3> Tourism</h3>
</div>
<div class="navbar">
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/tourism.html">Home</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/contact.html" class="active">Contact Us</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/How%20to%20reach.html">How To Reach</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/Destination.html">Destination</a>
 </div>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\img_nature.jpg.jpg" width="1349" height="450"><br><br>
<h2>Meet The Team</h2>
<BR><BR><BR>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="C:\Users\acer\OneDrive\Documents\project\IMG_20210818_095429_338.jpg" alt="Deeksha" width="300" height="300" >
      <div class="container">
        <h2>Deeksha Kumari</h2>
        <p class="title">Coder</p>
        <p>Hi!! I'm Deeksha Kumari and I was responsible for the coding of this web page. If you have any issue regarding the info of web page kindly contact me.<br>
         And Thank You For Visiting the Webpage</p>
        <p>deekshakumariguleria@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="C:\Users\acer\OneDrive\Documents\project\IMG-20220204-WA0000.jpg" alt="Mohit" width="300" height="300">
      <div class="container">
        <h2>Mohit Awasthi</h2>
        <p class="title">Presenter</p>
        <p>Hi, I am Mohit Awasthi. I am responsible for presenting and publishing this website in front of you.<br> Thank You. For any query contact me using my email id</p>
        <p>mohitawasthi@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="C:\Users\acer\OneDrive\Documents\project\IMG202104081243111.jpg" alt="Sourav" width="300" height="300">
      <div class="container">
        <h2>Sourav Sharma</h2>
        <p class="title">Designer</p>
        <p>Hello there....I am Sourav Sharma and I have designed the layout of this web page. If you like my design or have any complaint do let me know.<BR>Thank You!!</p>
        <p>souravsharma@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <h14>Content on this website is collected and coded by Deeksha Kumari.<br><br>Layout of this website is designed by Sourav Sharma<br><br>And presented by Mohit Awasthi </h14>
</div>
<div class="sticky">
<marquee width="100%" direction="left" height="20px">
<strong>
Safety Guidelines for Tourist Visiting Himachal Pradesh.... Do not stand at the edge of a cliff or on any bolder near a river bank for photographs etc. The water current in rivers of
Himachal Pradesh is very strong and highly deceptive.
</strong>
</marquee>
</div>
</body>
</html>
</body>
</html>