<!DOCTYPE html>
<html lang="en">
<head>
<title>Himachal Pradesh Tourism</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\file.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\How to reach.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\destination.css">
</head>
<body>
<div class="header">
  <h3>Himachal</h3>
  <h3> Tourism</h3>
</div>
<div class="navbar">
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/tourism.html">Home</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/contact.html">Contact Us</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/How%20to%20reach.html">How To Reach</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/Destination.html" class="active">Destination</a>
</div>
<div class="container">
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\feature.jpg" width="1349" height="550">
<div class="bottom-left"><U>Destination in Himachal Pradesh</u></div>
</div>
<div class="divi">
<h2>All Destinations</h2>
<p style="text-align:center;"> While traditionally Himachal was known as a summer destination, the Dept. of Tourism & Civil Aviation has taken special efforts to break
the seasonality factor and has developed diversified tourism products to attract tourist in other seasons too.<br><br>
Now Himachal is known as <q>A Destination for All Seasons and All Reasons.</q><br><br>In fact, the Dept. has laid a special emphasis on the development of activity-based
tourism and opening up of new sub destinations. To promote tourism in the countryside and to unexplored areas, appropriate infrastructure is being developed within avail resources.
</p>
<br><br>

</div>
<div class="row">
  <div class="column">
    <div class="container">
    <img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\156110839122.jpg" alt="Shimla" width="400" height="400">
     <div class="centered"><a href="file:///C:/Users/acer/OneDrive/Documents/project/html/shimla.html">Shimla</a></div>
  </div>
  </div>
  <div class="column">
   <div class="container">
    <img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\5c3db7ee6aa2e-Kangra Fort Sightseeing.jpg" alt="Kangra" width="400" height="400">
     <div class="centered"><a href="file:///C:/Users/acer/OneDrive/Documents/project/html/kangra.html">Kangra</a></div></div>
  </div>
  <div class="column">
<div class="container">
    <img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\R (1).jpeg" alt="Una" width="400" height="400">
<div class="centered"><a href="file:///C:/Users/acer/OneDrive/Documents/project/html/una.html">Una</a></div></div>
  </div>
<div class="column">
<div class="container">
    <img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\maxresdefault.jpg" alt="Kullu" width="400" height="400">
<div class="centered"><a href="file:///C:/Users/acer/OneDrive/Documents/project/html/kullu.html">Kullu</a></div></div>
  </div>
<div class="column">
<div class="container">
    <img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\sarkaghat.jpg" alt="Mandi" width="400" height="400">
<div class="centered"><a href="file:///C:/Users/acer/OneDrive/Documents/project/html/mandi.html">Mandi</a></div></div>
  </div>
<div class="column">
<div class="container">
    <img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\maxresdefault (1)solan.jpg" alt="Una" width="400" height="400">
<div class="centered"><a href="file:///C:/Users/acer/OneDrive/Documents/project/html/solan.html">Solan</a></div></div>
  </div>
</div>
<div class="footer">
  <h14>Content on this website is collected and coded by Deeksha Kumari.<br><br>Layout of this website is designed by Sourav Sharma<br><br>And presented by Mohit Awasthi </h14>
</div>
<div class="sticky">
<marquee width="100%" direction="left" height="20px">
<strong>
Safety Guidelines for Tourist Visiting Himachal Pradesh.... Do not stand at the edge of a cliff or on any bolder near a river bank for photographs etc. The water current in rivers of
Himachal Pradesh is very strong and highly deceptive.
</strong>
</marquee>
</div>
</body>
</html>
</body>
</html>