{% extends 'parent.html' %}
{% block title %} Himachal Pradesh | Destination {% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css\How to reach.css' %}">
<link rel="stylesheet" href="{% static 'css\contact.css' %}">

<img src="{% static 'image/Transport.png' %}" alt="HRTC BUS" width="1349" height="298">
<div class="dive">
<h2>How To Reach Himachal</h2>
<p style="font-family:verdana;">
<p style="font-size:100%;">


      Graced by sacred peak, captivating river valleys,crystal clear mountain lakes and deep forest country, Himachal Pradesh is a playground for the Gods
and humans alike.<br><br>
On the border with Tibet-China in the east,flanked by J&K in the north west,Uttarakhand in South-east and the mighty plains of Punjab and Haryana in the west,Himachal is 
the heart throb of North-western Himalayas.<BR><BR>
Be there any mountain adventure like trekking,rafting,skiing,paragliding or mountaineering, if it is not in Himachal, you won't find elsewhere in the country. Amidst a largely rural charm,
Shimla, Manali and Dharamshala are among the country's best tourist destinations.<br><BR><BR>
Five airports, an extensive network of highways criss-crossing the state and broad gauge train station at Kalka and Pathankot provide easy accessibility to and within Himachal.
<BR><br><br>
<h3 style="color:red;">By Air</h3><br>
The airports of Chandigarh and Pathankot on the borders of Himachal and the smaller airports of Gaggal-Kangra, Bhuntar-Kullu and Jubbarhatti-Shimla provide air connectivity to state.<br><br>
<br>
The Pathankot and Gaggal-Kangra airport give easy access to Kangra, Dharamshala, Chamaba, Hamirpur and Una, the Bhuntar-Kullu airport to Mandi,Kullu-Manali and Lahaul-Spiti, and Jubbarhatti-Shimla airport 
to Shimla, Solan, Bilaspur, Mandi and Kinnaur Regions.<br> <br><BR>

<img src="{% static 'image/OIP (1).jpeg' %}" alt="air plane" style="width:350px;height:263px;">
<br><br><pre style="text-indent: 70px;"> 1)  Bhuntar Airport, Manali </pre>
<pre style="text-indent: 70px;"> 2)  Gaggal Airport, Kangra  </pre>
<pre style="text-indent: 70px;"> 3)  Jubbarhatti Airport, Shimla </pre><BR><BR>
<h3 style="color:red;">BY TRAIN</h3><br>
In the north, on the border with Punjab, Pathankot is the major broad gauge train station that connect to Himachal. From Pathankot, a narrow gauge train to Jogindernagar connects up the entire Kangra valley in a joyful journey.<BR><BR>
<br> On the border with Haryana, Kalka is the major broad gauge train station that connect to Shimla, Himachal Pradesh. The Kalka-Shimla train track is UNESCO World Heritage Site in itself.
 An engineering masterpiece of the British era, the journey passes through some spectacular landscapes.<br><br><br>
 <img src="{% static 'image/Kalka-Shimla-Railways.jpg' %}" alt="Kalka-Shimla-Railways" style="width:350px;height:263px;">
<br><br><pre style="text-indent: 70px;"> 1)  Kalka-Shimla-Rail Line </pre>
<pre style="text-indent: 70px;"> 2)  Pathankot-Joginder Nagar Railway Line </pre>
<pre style="text-indent: 70px;"> 3)  Una Himachal Railway Line </pre><BR><BR>
<h3 style="color:red;">By Road</h3><br>
Himachal Pradesh is easily accessible by road from Chandigarh, Kalka and Pathankot. Interstate bus services are available from Delhi, Chandigarh, Jaipur and other neighbouring cities. 
Within Himachal, a good public transport service and taxi services serve reach all destinations in the state.<BR><BR>
The advantage of states situated in the hills is that you can plan a comfortable road trip. The distance from Delhi to Himachal Pradesh by road can be covered in just about 7 hours or maximum 7 and a half hours. 
The roads are very well maintained and even during the monsoon season, it is safe to drive up to the state, just needs a little caution. <BR><BR>
Himachal Pradesh is very well connected to the major cities. 
To reach Himachal by road, you can hire cabs or even take a bus. A bus journey is usually affordable and comfortable too, as the buses stop from time to time and allow people to try out the hill roadside chai and some local delicacies.<BR><BR><BR>
 <img src="{% static 'image/R.jpeg' %}" style="width:350px;height:263px;">
</div>




{% endblock %}