<!DOCTYPE html>
<html lang="en">
<head>
<title>Himachal Pradesh Tourism</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\file.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\How to reach.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\shimla.css">
<link rel="icon" type="image/x-icon" href="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/castle-on-the-hill-bens-pen.jpg">
</head>
<body>
<div class="header">
  <h3>Himachal</h3>
  <h3> Tourism</h3>
</div>
<div class="navbar">
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/tourism.html">Home</a>
  <a href="#contact">Contact Us</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/How%20to%20reach.html">How To Reach</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/Destination.html">Destination</a>
  <div class="subnav">
    <button class="subnavbtn">About us<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#company">Company</a>
      <a href="#team">Team</a>
      <a href="#careers">Careers</a>
    </div> 
  </div> 
 </div>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\Kullu-Valley-Top-Banner.jpg" alt="Kullu" width="1349" height="450"><br><br>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Intro')" id="defaultOpen">Intro</button>
  <button class="tablinks" onclick="openCity(event, 'How To Reach')">How To Reach</button>
  <button class="tablinks" onclick="openCity(event, 'Things To Do')">Things To Do</button>
</div>

<div id="Intro" class="tabcontent">
  <p style="letter-spacing: 1px";>Nestled in the lap of the majestic Himalayas, Kullu is a veritable jewel in the crown of Himachal Pradesh. The breathtaking beauty of its marvelous landscapes, the hospitality of its people, their distinctive lifestyle and rich culture have enthralled travelers for aeons.
<BR><BR><BR>
The Dev Sanskriti of the valley blends faith, mythology and history to create and sustain a unique bond between the mundane and the divine. Blessed with salubrious weather throughout the year, the district is known for the internationally renowned towns of Kullu and Manali, the pristine beauty of the Parbati valley, the teeming biodiversity of the Great Himalayan National Park, the quaint temple architecture of the hills and several enjoyable trekking routes across its breadth and width.
<BR><BR><BR>
Kullu was made a separate district on 30th July 1963 when it was a part of composite Punjab. Prior to it, it was a tehsil of district Kangra. Kullu is 
a sparsely populated, centrally located hilly district of the State. The district lies between 310 20’25” and 320 25’00” north latitude and 76°56’30” and 770 52’20” east longitude. 
<BR><BR><BR>
It is bounded on the north and east by Lahul and Spiti district, on the south-east by Kinnaur district, on the south by Shimla district, on the south- west and west by Mandi district 
and on the north-west by Kangra district. The district has a total area of 5,503 Sq. km. As per 2001 census the Kullu district comprises of 4 SubDivisions, 4 tehsils and 2 sub-tehsils. The four tehsils are Kullu, Manali, 
Banjar and Nirmand and two sub-tehsils namely Anni, and Sainj. There are five community development blocks in the district. They are Nagar, Kullu, Banjar, Anni and Nirmand. 
<BR><BR><BR>
The district is approachable by all-weather roads, such as, National Highway No. 21 and other State Highways. Small valleys located in various parts of the district are 
<BR>1. Kullu valley : - located along the Beas river 
<BR>2. Lug valley :- located along Sarvary khad 
<BR>3. Garsa valley :- located in the eastern part of Kullu district 
<BR>4. Manikaran valley :- located along the Parvati river
</div>
<div id="How To Reach" class="tabcontent">
  <p style="letter-spacing: 1px;">
Kullu  is well connected with other parts of country by roads and air.
<BR><BR><BR>
Roadways : Frequent buses are available from the HRTC bus stands at Kullu and Manali to all major cities. One can avail Taxis also from the the Local Taxi Stand.
<BR><BR><BR>
Airways: Kullu is well connected by airways and one can get flights to and fro from Kullu-Manali Airport at Bhuntar. Bhuntar is 10 kms from Kullu and 50 kms from Manali.
<BR><BR><BR>
<h4>By Air</h4>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kangra\Kangra-Airport-e1388641565161 (1).jpg" style="width:250px;height:250px;"><BR><BR>
To understand how to reach Kullu by air, the first thing that one should know is that the nearest airport is Bhuntar airport. It is only at a distance of approximately ten kilometers from the beautiful city. It only takes approximately one hour and 30 minutes to reach Bhuntar from Delhi.
<BR><BR><BR>
If there are no direct flights available, connecting flights to Kullu are surely available. If one books a flight from Delhi, it will take only one hour and fifteen minutes to reach the destination. The journey may be expensive as compared to other modes, but it is convenient and saves a lot of time for sure.
<BR><BR><BR>
When it comes to how to reach Kullu from Delhi, Indira Gandhi International Airport (DEL) is the airport which serves the city of Delhi. Located at a distance of 16 km from the New Delhi City Centre, the airport is located at Palam and is known to be one of the busiest airports in the country. One can take a flight from DEL to Kullu–Manali Airport (KUU) which takes about 1 hour and 20 minutes. Daily flights are provided by Air India and one can take the earliest flight to leave from Delhi at 06:45 am.
<br>
<h4>By Train</h4>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kangra\kangra-train (1).jpg" style="width:250px;height:250px;"><BR><BR>
If one is keen to know how to reach Kullu by train, the traveler needs to know that Kullu does not enjoy good train connectivity. The nearest railway station to Kullu is Jogindernagar, which is at a distance of one hundred and twenty-five kilometers from here. There are many trains to Jogindernagar that run on a daily basis from Delhi. One can surely plan to travel by train, but travelers will also need to embark on a road trip anyway, which nonetheless is a journey filled with stunning scenery.  
<h4>By Road</h4>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kangra\kangra-road.jpg" style="width:250px;height:250px;"><BR><BR>
If planning a visit to Kullu by road, get ready to enjoy some fascinating views on the way. If one is not aware about how to reach Kullu by road, there is no need to worry since Kullu enjoys great road connectivity from many major parts of the country. There are many comfortable deluxe buses that one can book and choose to enjoy the beauty of nature from close quarters. Traveling by bus is convenient as well as cost-effective.
<BR><BR><BR>
Travelers may also opt to go by their own car or rent one as this way they can stop the car anywhere, click some beautiful pictures and go ahead. After all, a real traveler always loves to capture beautiful moments. This is surely the best mode to reach this beautiful hill station.
<BR><BR><BR>
When it comes to reach Delhi to Kullu by road, the first thing to know is the distance, which is 497 km. One can choose to self drive or hire a cab. It takes approximately 9 hours and 20 minutes to reach Kullu from Delhi by road. Travelers can also choose from a number of reliable private operators who provide transportation via bus from Delhi to Kullu.
</div>
<div id="Things To Do" class="tabcontent">
<p style="letter-spacing: 1px;" "font-size: 40%;" "text-align: justify;">
Prashar Lake Trek, Go for River Rafting, Go for Paragliding, Camping, Rafting & Adventure Activities at Manali, Trek to Malana Village, Ride a Bicycle in Kullu, Bhrigu Lake Trek, Attend Parvati Peaking Festival, Trek to Kheer Ganga, Trek to Chandrakhani Pass, Take a Dip into Manikaran Hot Spring and many more.
<BR><BR><BR>
Kullu is located at a distance of 40 km from Manali. It is a popular Himachal tourism destination which is why there are a variety of things to do in Kullu. Kullu is an open valley formed by the Beas River between Manali and Larji. It is famous for its temples, vast and beautiful majestic hills which are covered in Pine and Deodar forests. What is not to be missed in Kullu are the sprawling apple orchards and the many adventure sports activities here that get your heart racing!
<BR><BR><BR>
From rock climbing to paragliding to mountaineering to bike safari, Kullu has a plethora of options to satiate the adventure rush of tourists. Kullu is loved by tourists for its picturesque landscapes, adventure activities at large and the pleasant weather that the town maintains all the year round. There are a lot of things to do in Kullu when we talk about adventure activities. Trekking, river rafting, mountaineering, paragliding and hiking over the Himalayan hills and glaciers are some of the adventure activities that Kullu offers. These are taken up and enjoyed a lot by tourists.
<BR><BR><BR>
A large number of treks and trips also begin from Kullu and hence this town is a starting point for various treks. Treks and trips to some of the famous tourist places from Kullu are Manikaran, Manali, Malana, Kheer Ganga, Kangra, Great Himalayan National Park. Another interesting thing to do in Kullu is to attend the festival of Dussehra here. It is a festival that celebrates Lord Rama's victory over the evil king Ravana. Kullu hosts one of the most extraordinary and vibrant Dussehra festivals in India. Unlike the one-day celebrations common everywhere else, Dussehra in Kullu goes on for a week pompously.
<BR><BR><BR><BR>
<h3 style="color: Red;">01 Prashar Lake Trek</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kullu\1525333129_shutterstock_1053763184.jpg.jpg" alt="Kangra" width="750" height="400"><bR><BR>
Surrounded by the Dhauladhar ranges in Kullu Valley, the Prashar Lake is a serene blue-water lake, a lovely site in the Mandi district of Himachal Pradesh. One of the best things to do in Kullu, the trek offers a breathtaking panoramic view of the Himalayan ranges. The Dhauladar Ranges, Rohtang Pass and mountain ranges of Kinnaur and Pir Panjal are a pure treat to the eyes on this trek.
<BR><BR><BR>
The lake is named after the sage Prashar who meditated here in ancient times. The local temple of Prashar Rishi is built in Himachal style architecture and is located in close vicinity.
<BR><BR><BR>
The trek follows a beautiful route through a forest and several water streams. Meanwhile, trekkers get to enjoy the local culture as the trail goes through villages.
<BR><BR>
<h3 style="color: Red;">02 Go for River Rafting</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kullu\1465384700_Pacuareriverrafting.jpg.jpg" alt="Shimla" width="750" height="400"><bR><BR>
Have fun indulging in breathtaking water sports in Kullu. The whitewater rafting packages proffered in Kullu are mind-blowing. Enjoy rafting a 14 Km stretch in the mighty River, Beas. The journey begins from Piri and ends at Jhiri. Swimmers or nonswimmers just be carefree and hop into the boats and embark this thrilling journey.
<BR><BR><BR>
Rafting in Kullu is one of its kind experiences. If you are healthy enough to paddle and row then you should surely go for it. One can go Rafting with family and friends and work together as a team to build a cherishing memory. <br><br>
<h3 style="color: Red;">03 Go for Paragliding</h3><br>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kullu\paragliding.webp" alt="Kangra" width="750" height="400"><bR><BR>
Spread your wings and fly like a bird above the enticing hills of the Himalayas. As you flutter in the blue sky admire the immaculate nature. The adventurous activity of Paragliding is one of the most enthralling things to do in Kullu. 
<BR><BR><BR>
Kullu is a hub for aero sports and hence allures numerous enthusiasts seeking the adrenaline rush. One need not worry about the safety issues, as you would undergo a proper training program and will be thoroughly guided by well-qualified trainers. So get ready for an action-packed experience. Board your flight and sore.   <br>
<h3 style="color: Red;">04 Camping Rafting and Adventure Activities At Manali</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kullu\dsqyzcu2u883uqj2sz6fif07hcx9_68de1792b52d11e9bade0242ac110002.jpeg" alt="Kangra" width="750" height="400"><bR><BR>
Nestled amidst the snow-capped mountains that are surrounded by lower altitude grassy fields, the campsite offers you a perfect getaway from the urban lifestyle and reconnects you with nature. The campsite is nearby to the many attractions like Manu temple, Mall road etc. and there are several nature trails that originate from the campsite.
<BR><BR><BR>
<BR><BR>Arrive at the campsite and get checked in to your respective tents.
<BR><BR>The accommodation is in swiss tents that have amenities like an attached washroom, bed and blankets, cooler, table and chair, and proper charging facilities.
<BR><BR>The tents can accommodate min 2 and max 3 people at a time.
<BR><BR>Have fun playing various indoor and outdoor games and activities such as volleyball, chess, ludo, etc.
<BR><BR>The package is inclusive of breakfast and dinner.
<BR><BR>There will be a day hike that will be provided with a guide to the nearby area.
<BR><BR>Indulge in a fun 7 KM rafting adventure upon the rapids of Beas river.
<BR><BR>The rafting point is situated in Dobhi at a distance of 30 km from the campsite and it is easily reachable by the means of public and private transport.
<BR><BR>The guests can park their vehicles at the appointed parking space provided by the campsite.
<BR><BR>A minimum of 2 people is required to make the booking.
<BR><BR><BR>
<B>Camping Location:</b> Prini, Manali, Himachal Pradesh<br><br>
<h3 style="color: Red;">05 Trek to Malana Village</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kullu\1525333409_shutterstock_790189783.jpg.jpg" alt="Kangra" width="750" height="400"><bR><BR>
Malana is a charming village near Kasol which is a perfect destination for an invigorating weekend trek. The trek commences from Kasol as there is no direct motorable road from Kasol to Malana. Trekkers need to go halfway by taxi after which the trek to Malana begins and it is one of the fun things to do in Kullu.
<BR><BR><BR>
Malana is overlooked by Chandrakhani and Deo Tibba Peaks. The trek to this charming hamlet is quite beautiful, but a little strenuous sometimes. Trekkers need to traverse through the Malana Nallah that flows right across the Parvati Valley to complete the Malana Trek.
<BR><BR><BR>
The trek promises dramatically stunning views of conifer forests, hilly village roads, snow-capped Dhauladhar Ranges and the Parvati River.
<BR><BR><BR>
The distance between Kasol and Kullu is approximately 37 kilometers.<BR>
<h3 style="color: Red;">06 The Great Himalayan National Park</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kullu\1465383323_13312797_524734944376825_2518766681377310249_n.jpg.webp" alt="Kangra" width="750" height="400"><bR><BR>
If you are an admirer of nature then a visit to the Great Himalayan National Park will be an enthralling experience to cherish. The National park is bestowed with a variety of wildlife species.  It is an abode for approximately 375 types of fauna that include snow leopard, blue sheep, Himalayan brown bear, Himalayan tahr, musk deer, goral and several others and it is one of the best things to do in Kullu Manali.
<BR><BR><BR>
Another exhilarating option here is to go for a trek. So stuff your backpack and do not forget your camera; tie your shoelaces and just break free from your stressful routine. There are a number of fairs held here during the months of April, May, August and September. If you are an Indian National, then you will have to pay around Rs. 50 as a entry fee. For Foreign Nationals the entry fee is Rs. 200.
</p>
<script src="C:\Users\acer\OneDrive\Documents\project\js\shimla.js">
</script>
</div>

<div class="footer">
  <h14>Content on this website is collected and coded by Deeksha Kumari.<br><br>Layout of this website is designed by Sourav Sharma<br><br>And presented by Mohit Awasthi </h14>
</div>
<div class="sticky">
<marquee width="100%" direction="left" height="20px">
<strong>
Safety Guidelines for Tourist Visiting Himachal Pradesh.... Do not stand at the edge of a cliff or on any bolder near a river bank for photographs etc. The water current in rivers of
Himachal Pradesh is very strong and highly deceptive.
</strong>
</marquee>
</div>
</body>
</html>
</body>
</html>