<!DOCTYPE html>
<html lang="en">
<head>
<title>Himachal Pradesh Tourism</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\file.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\How to reach.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\shimla.css">
<link rel="icon" type="image/x-icon" href="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/castle-on-the-hill-bens-pen.jpg">
</head>
<body>
<div class="header">
  <h3>Himachal</h3>
  <h3> Tourism</h3>
</div>
<div class="navbar">
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/tourism.html">Home</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/contact.html">Contact Us</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/How%20to%20reach.html">How To Reach</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/Destination.html">Destination</a>
  <div class="subnav">
    <button class="subnavbtn">About us<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#company">Company</a>
      <a href="#team">Team</a>
      <a href="#careers">Careers</a>
    </div> 
  </div> 
 </div>

<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Screenshot 2022-02-02 073908.jpg" alt="Mandi" width="1349" height="450"><br><br>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Intro')" id="defaultOpen">Intro</button>
  <button class="tablinks" onclick="openCity(event, 'How To Reach')">How To Reach</button>
  <button class="tablinks" onclick="openCity(event, 'Distances')">Distances</button>
  <button class="tablinks" onclick="openCity(event, 'Things To Do')">Things To Do</button>
</div>

<div id="Intro" class="tabcontent">
  <p style="letter-spacing: 1px";>The historically eminent, spiritually significant and amazingly panoramic Mandi is spread out along the banks of River Beas.
The present District Of Mandi was formed with the merger of two princely states Mandi and Suket on 15th April 1948, when the State of Himachal Pradesh came into existence. Ever since the formation of the district, it has not witnessd any changes in it’s jurisdiction.
<BR><BR><BR>
 The chiefs of Mandi and Suket are said to be from a common ancestor of the Chandravanshi line of Rajputs of Sena dynasty of Bengal and they claim their descent from the Pandavas of the Mahabharata. The ancestors of the line believed to have ruled for 1,700 years in Indarprastha(Delhi), until one Khemraj was driven out by his Wazir, Bisarp, who then took over the throne. Khemraj, having lost his knogdom, fled eastward and settled in Bengal, where 13 of his successors are said to have ruled for 350 years. From there they had to flee to Ropar in Punjab, but here also the king, Rup Sen, was killed and one of his sons, Bir Sen, fled to the hills and reached Suket. The State of Suket is said to have been founded by Bir Sen, an ancestor of the Sena Dynasty of Bengal.
<BR><BR><BR>
The name "mandi" (and the former name "Mandav Nagar") has its roots from Great Sage Rishi 'Mandav' who prayed in this area, and the rocks turned black due to the severity of his penance. Alternatively, the name may have been derived from the common word mandi which means "market" in Hindi. The town has mythological and historical significance and boasts of a unique temple architecture. It is referred to as Chhoti Kashi as there are many ancient temples in the city and on the banks of river Beas.
<BR><BR><BR>
The town is an important commercial hub of the state. It is a major transit route to Kullu-Manali and other adjoining places from NH 3 (Atari - Manali- Leh) and NH-154 (Pathankot-Sundernagar-Bilaspur and further up to Chandigarh ). Sundarnagar is one of the emerging towns of the district.

The main native language is Mandeali.
<BR><BR><BR>
The use of technology is increasing day by day, we all depend on technology and we use various technologies to accomplish specific tasks in our lives. Today technology has made the field of communications so easy. Now we can draft official messages/Letters on our website so that information will be available for everyone in a second without any delays. Suggestions are invited from everyone so that we can make efficient use of this technology.Now days you can access a full district mandi website via a PC , mobile app on any smart phone or ipad. 
</div>
<div id="How To Reach" class="tabcontent">
  <p style="letter-spacing: 1px;">

Mandi is one of the largest cities of Himachal Pradesh and is well connected to all major cities of Himachal Pradesh , Punjab and Delhi.
<h4>By Air</h4>
The nearest airport to Mandi is the Kullu Airport at Bhuntar, at a distance of about 60 km from Mandi city. From Delhi, flights to Kullu take about 90 minutes.
<BR><BR><BR>
<h4>By Train</h4>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kangra\kangra-train (1).jpg" style="width:250px;height:250px;"><BR><BR>
The nearest railway stations are at Kiratpur Sahib in Punjab. Taxis to Mandi are easily available outside the railway station. You may also choose to go to Chandigarh Railway Station or Kalka by broad gauge train which are connected by regular bus and taxi services.
<h4>By Road</h4>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\kangra\kangra-road.jpg" style="width:250px;height:250px;"><BR><BR>
Mandi is approachable by road from Shimla, Chandigarh, Pathankot and Delhi. There are regular bus services linking it to the other towns like Manali, Palampur and Dharamshala.
<b>From Delhi</b>
From ISBT (Interstate bus terminus at Kashmiri Gate), buses leave for Manali or Mandi frequently. Other state buses and private buses are also available to Mandi.
<BR><BR><BR>
<b>From Chandigarh</b>
The frequency of buses from Chandigarh is very good because buses from Delhi pass through Chandigarh. Many government and private buses also start from Chandigarh. TATA AC and Volvos are available at Sector 43 Bus Stop. Another comfortable journey from Chandigarh to Mandi is to travel by taxi. The distance between Chandigarh and Mandi is 200 kms. This distance can be covered in approximately 5 hrs by bus. By taxi, it may take around 4 hrs.
</div>

<div id="Distances" class="tabcontent">
<table>
<th style="background-color:Blue;">Places to Visit</th>
<th style="background-color:Blue;"> Distance from Mandi in kms </th>
  <tr>
    <td>Rewalsar</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Janjheli</td>
    <td>85</td>
  </tr>
  <tr>
    <td>Joginder Nagar</td>
    <td>55</td>
  </tr>
  <tr>
    <td>Parashar Lake</td>
    <td>45</td>
  </tr>
  <tr>
    <td>Sunder Nagar</td>
    <td>26</td>
  </tr>
</table><br><br></div>
<div id="Things To Do" class="tabcontent">
<p style="letter-spacing: 1px;" "font-size: 40%;" "text-align: justify;">
Mandi is very popular among the tourists because of its scenic beauty. Some of the best things to do in Mandi include trekking, hiking and biking trips. Besides, there are many temples and monasteries in Mandi that draws tourists in large number every year. If you are still wondering about the options of things to do in Mandi, check out the below list.  
<BR><BR><B>
<BR><BR>Trek To The Gorgeous Prashar Lake
<BR><BR>Rejuvenate Your Mind & Soul At Bir Monastery
<BR><BR>Treat The Shopaholic Within At The Famous Markets
<BR><BR>Camp Under The Stars In Barot Valley
<BR><BR>Visit The Popular Shikari Devi Temple
<BR><BR>Bring Out The Foodie In You At The Topchen Restaurant
<BR><BR>Soak In Ultimate Peace At The Sunken Garden
<BR><BR>Spot The Himalayan Black Bear At The Nargu Wildlife Sanctuary
<BR><BR>Stay Like Royalty At Hotel Raj Mahal Palace
<BR><BR>Stop By The Famous Himachal Darshan Photo Gallery
<BR><BR>Visit The Fascinating Rewalsar Lake
<BR><BR>Admire The Architectural Wonders At Bhima Kali Temple
<BR><BR>Explore The Mysterious Kamrunag Lake
<BR><BR>Enjoy Thrilling Water Sports At Pandoh Dam<BR><BR><BR><BR></b>
<h3 style="color: Red;">01 Trek To The Gorgeous Prashar Lake</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Natural_Treasures_of_India_-_Prashar_Lake.jpg" alt="Mandi" width="750" height="400"><bR><BR>
The first thing that you’ll ever hear about Mandi is its beautiful Prashar lake. Be it walking through the forests or passing through the small villages, trekking to this beautiful lake is indeed one of the best things to do at Mandi. Offering a 180-degree view of the Dhauladhar range that encircles the lake, this place will let you capture the unseen beauty of Himachal.
<BR><BR><BR>
<b>Location:</b>Panarsa Pines, Mandi, India
<BR><BR><BR>
<b>Price:</b> INR 2,500 and above per person (only if you book a trekking tour)
<BR><BR><BR>
<B>Best Time To Visit Prashar Lake: </b>Although you can visit the lake throughout the year, the ideal time to go here is mid-April onwards as the lake’s beauty can be witnessed perfectly during this period.<BR>

<h3 style="color: Red;">02 Rejuvenate Your Mind & Soul At Bir Monastery</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\A_Stupa_at_Bir_Tibetan.jpg" alt="Mandi" width="750" height="400"><bR><BR>
Offering an escape from the fast-paced city life, this monastery will definitely take you to another world. Here you can get a glimpse of the Tibetan culture and also witness the mesmerizing statues of the Lord Buddha. Besides indulging in the adventure activities in Mandi, this place is a must-visit if you wish to rejuvenate your mind, body & soul.
<BR><BR><BR>
<B>Location:</b>Bajinath, Mandi
<BR><BR><BR
<B>Entry Fees:</b> There is no entry fee for visiting the monastery.
<BR><BR><BR>
<B>Timings: </b> The monastery stays open for 24 hours<br><br>

<h3 style="color: Red;">03 Treat The Shopaholic Within At The Famous Markets</h3><br>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Treat-the-Shopaholic-within-at-the-famous-markets.jpg" alt="Mandi" width="750" height="400"><bR><BR>
Mandi is famous for its local handicrafts like rugs & carpets, stone & metal work, leather chappals, and more. From wooden crafts to traditional jewelry, you will come across many shops selling these handmade wonders, which you can buy and take back home as souvenirs. After all, there’s no better experience than shopping!
<B>BestPlaces For Shopping In Mandi: </b>Indira Shopping Complex, New Sarika Shopping Complex, RCM Shopping Point, and Sunken Garden Shopping Complex<br>

<h3 style="color: Red;">04 Camp Under The Stars In Barot Valley</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Camp-under-the-stars-in-Barot-Valley.jpg" alt="Mandi" width="750" height="400"><bR><BR>
This town has so many ineffable experiences in store that ‘what to do in Mandi’ will never be your concern. Camping in the beautiful Barot Valley is one such experience that will leave you awestruck. Imagine spending a night under the stars, amidst lush greenery and eternal bliss. Sounds like an experience you wouldn’t want to miss, right?
<BR><BR><BR>
<B>Price:</b> INR 1,099 per person (on an average)
<BR><BR><BR>
<B>Ideal Duration: </b>2 Days.<br><br>

<h3 style="color: Red;">05 Visit The Popular Shikari Devi Temple</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Shikari_Devi_Temple.jpg" alt="Mandi" width="750" height="400"><bR><BR>
Considered to be situated on the highest peak in the entire Mandi district, Shikari Devi Temple is a must-visit place in Himachal. Be it the roofless architecture or the 1000 steps that are steep enough to climb, this temple has got a lot that will leave you amazed. Apart from taking the blessings of the ‘Hunter Goddess’, you can also enjoy the mystical aura that surrounds the temple.
<BR><BR><BR>
<B>Location:</b>Shikari Devi, Himachal Pradesh 175046
<BR><BR><BR>
<B>Timings:</b>6 am to 8 pm
<br><br>

<h3 style="color: Red;">06  Bring Out The Foodie In You At The Topchen Restaurant</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\A_bowl_of_Thukpa.jpg" alt="Mandi" width="750" height="400"><bR><BR>
Indulging in the local cuisines which is also one of the best things to do in Mandi is one thing you definitely cannot miss out. If you wish to try something different from the usual vegetarian or non-vegetarian cuisines, then this restaurant is indeed the right place to visit. Famous for its momos & thukpa, this place will not only treat your taste buds but also give you a glimpse of the Tibetan culture around.
<BR><BR><BR>
<B>Location</b> Rewalsar, Himachal Pradesh
<BR><BR><BR>
<B>Timing: </b>NA<BR><br>

<h3 style="color: Red;">07 Soak In Ultimate Peace At The Sunken Garden</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Sunken_Gardens.jpg" alt="mandi" width="750" height="400"><bR><BR>
The sight of dazzling flowers and lush green plants in the Sunken garden will allure you to visit this garden time and again. And since the garden is 500 years old, it has got a lot of intriguing stories associated with it, which you can find out by interacting with the locals nearby. Apart from this, this garden is also a famous center for major activities in Mandi.
<BR><BR><BR>
<B>Location:</b>NH3, Seri Bazar, Samkhetar, Mandi, Himachal Pradesh 175001
<BR><BR><BR>
<B>Entry Fees:</b> There is no entry fee for visiting this attraction in Mandi.
<BR><BR><BR>
<B>Timings: </b>The park stays open for 24 hours.

<br><br>

<h3 style="color: Red;">08  Spot The Himalayan Black Bear At The Nargu Wildlife Sanctuary</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\A_Himalayan_Black_Bear.jpg" alt="mandi" width="750" height="400"><bR><BR>
One of the most interesting things to do in Mandi also includes a visit to this sanctuary, which is located on the banks of Uhl River. This sanctuary is home to different species of birds & animals like monal, musk deer, barking deer, and more. Spotting these animals in their natural habitat here will definitely leave you amused. Just make sure you take your camera along!
<BR><BR><BR>
<B>Location:</b> Barot Village, Mandi, India
<BR><BR><BR>
<B>Best Time to Visit:</b>The ideal time to visit this sanctuary is between the months of April to May and August to October<br>
<br>

<h3 style="color: Red;">09 Stay Like Royalty At Hotel Raj Mahal Palace</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Stay-like-royalty-at-Hotel-Raj-Mahal-Palace.jpg" alt="mandi" width="750" height="400"><bR><BR>
Once the abode of Mandi’s king, the Raj Mahal Palace was converted into a hotel in 1882. Since it still reflects the same heritage, you can experience the old world charm at this hotel through its ambiance and royalty-like hospitality. Amongst all the best things to do in Mandi, staying here is an experience you should definitely add to your list.
<BR><BR><BR>
<B>Location:</b>next to District Court, Seri Bazar, Bhagwan Muhalla, Samkhetar, Mandi, Himachal Pradesh 175001<br><br>

<h3 style="color: Red;">10 Visit The Fascinating Rewalsar Lake
</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\rewalsar-lake.jpg" alt="mandi" width="750" height="400"><bR><BR>
Famous for its floating island of reed, Rewalsar Lake is a natural lake located 23 km from the city centre. The serenity offered by this place is what makes this place a popular tourist attraction. The stunning beauty of the lake and its surrounding are simply spell bounding. For the best experience, visit this lake during the Baisakhi festival when a large fair is organised. 
<BR><BR><BR>
<B>Best Time to Visit: </b>March to October
<BR><BR><BR>
<B>Entry Fees:</b> There is no entry fee for visiting this attraction in Mandi<BR>

<h3 style="color: Red;">11 Admire The Architectural Wonders At Bhima Kali Temple
</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Bhima-Kali-Temple.jpg" alt="mandi" width="750" height="400"><bR><BR>
Bhima Kali Temple is dedicated to Bhima Kali, an incarnation of Durga. Admire the beautiful architecture of the temple that displays wooden carvings. The temple also has a wonderful museum inside showcasing image of Hindu Gods and Goddesses. It is one of the famous religious place in Mandi.
<BR><BR><BR>
<B>Location: </B>National Highway 20, Bhiuli, Mandi, Himachal Pradesh 175002<BR><BR><BR>
<B>Timings:</B> 6 am to 8 pm <BR>
<h3 style="color: Red;">12 Explore The Mysterious Kamrunag Lake</h3><BR>
<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\mandi\Kamruang-lake.jpg" alt="mandi" width="750" height="400"><bR><BR>
If you are visiting Mandi, exploring Kamrunag Lake is one of the must do things. The beautiful lake and its surroundings is a delight for the nature lovers. Located on the Mandi-Karsog road, it is often explored by trekkers due to the amazing trail it offers. It is believed that this is no ordinary lake as it has unknown treasures stored in its bed. 
<BR><BR><BR>
<B>Location:</B> Kamru Nag, Himachal Pradesh 175031<BR><BR><BR>
<B>Famous For:</B> Temple and lake
</p>
<script src="C:\Users\acer\OneDrive\Documents\project\js\shimla.js">
</script>
</div>

<div class="footer">
  <h14>Content on this website is collected and coded by Deeksha Kumari.<br><br>Layout of this website is designed by Sourav Sharma<br><br>And presented by Mohit Awasthi </h14>
</div>
<div class="sticky">
<marquee width="100%" direction="left" height="20px">
<strong>
Safety Guidelines for Tourist Visiting Himachal Pradesh.... Do not stand at the edge of a cliff or on any bolder near a river bank for photographs etc. The water current in rivers of
Himachal Pradesh is very strong and highly deceptive.
</strong>
</marquee>
</div>
</body>
</html>
</body>
</html>