<!DOCTYPE html>
{% load static %}
      <title>{% block title %}  {% endblock %}</title>


<!DOCTYPE html>
<html lang="en">
<head>
<title>Himachal Pradesh Tourism</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css\file.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'image/castle-on-the-hill-bens-pen.jpg' %}">
</head>
<body>
<div class="header">
    <h2>Welcome</h2>
  <h2>Himachal Pradesh</h2>
  <h2> Tourism</h2>
</div>
<div class="navbar">
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/tourism.html" class="active">Home</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/contact.html">Contact Us</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/How%20to%20reach.html">How To Reach</a>
  <a href="{% url 'mydestination' %}">Destination</a>
 </div>



<!-----child area start---------->

{% block content %}


{% endblock %}

<!-----child area ends---------->

<div class="footer">
  <h14>Content on this website is collected and coded by Deeksha Kumari.<br><br>Layout of this website is designed by Sourav Sharma<br><br> </h14>
</div>
<div class="sticky">
<marquee width="100%" direction="left" height="20px">
<strong>
Safety Guidelines for Tourist Visiting Himachal Pradesh.... Do not stand at the edge of a cliff or on any bolder near a river bank for photographs etc. The water current in rivers of
Himachal Pradesh is very strong and highly deceptive.
</strong>
</marquee>
</div>
</body>
</html>
</body>
</html>