<!DOCTYPE html>
<html lang="en">
<head>
<title>Himachal Pradesh Tourism</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\file.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\How to reach.css">
<link rel="stylesheet" href="C:\Users\acer\OneDrive\Documents\project\css\shimla.css">
<link rel="icon" type="image/x-icon" href="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/castle-on-the-hill-bens-pen.jpg">
</head>
<body>
<div class="header">
  <h3>Himachal</h3>
  <h3> Tourism</h3>
</div>
<div class="navbar">
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/tourism.html">Home</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/contact.html">Contact Us</a> 
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/How%20to%20reach.html">How To Reach</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/Destination.html">Destination</a>
  <div class="subnav">
    <button class="subnavbtn">About us<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#company">Company</a>
      <a href="#team">Team</a>
      <a href="#careers">Careers</a>
    </div> 
  </div> 
 </div>

<img src="C:\Users\acer\OneDrive\Pictures\Saved Pictures\solan\Screenshot 2022-02-02 200338.jpg" alt="Mandi" width="1349" height="450"><br><br>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Intro')" id="defaultOpen">Intro</button>
  <button class="tablinks" onclick="openCity(event, 'How To Reach')">How To Reach</button>
  <button class="tablinks" onclick="openCity(event, 'Distances')">Distances</button>
  <button class="tablinks" onclick="openCity(event, 'Things To Do')">Things To Do</button>
</div>

<div id="Intro" class="tabcontent">
  <p style="letter-spacing: 1px";>For its moderate climate Solan is an ideal tourist destination with picturesque vistas of the Himalayan foothills and a town replete with colonial heritage that is bustling with activities.
Solan, a <B>area known as after goddess Shoolini</b>, is an eye-catching location for holidaymakers. Solan is a very little mountain city, located among the levels of Himachal Pradesh. Solan travel and leisure has develop over the interval due to its endless organic sources. Solan also famous from the other name too that is <b>"Mushroom capital of India".</b>because of the vast mushroom farming in the area as well as the Directorate of Mushroom Research (DMR) situated at Chambaghat.
<br><br><br>
Solan is crowned as the <b>“City of Red Gold“</b>, in reference to the bulk production of tomatoes in the area The town is situated between Chandigarh and Shimla , on the Kalka-Shimla National Highway. The Kalka-Shimla narrow gauge heritage railway line, built by the British passes through Solan and is a recognised World Heritage site.
<br><br><br>
The space around Solan in very rich in beans, tomato vegetables, cinnamon and beans. Solan is mostly a wooded land enclosed by mountains and mushroom centre situated in Chambaghat.Rich in picturesque beauty, Solan area provides attractive opinions of its atmosphere. Go for a characteristics stroll and cure your feelings to clean air and enjoyable atmosphere. Lavish green plants is a great refreshment to the body, mind and spirit.
<br><br><br>
Away from the afflication bustle of city life, the Solan area provides serenity in plenty.It has huge number of visitors every year with its wonderful destinations and spectacular opinions. The holiday locations in Solan give a incredible experience to the visitors, which persuade them to visit this wonderful town again and again.
<br><br><br>
Endowed with enjoyable weather circumstances throughout the year, An ideal mountain place where the guests can enjoy their vacations or plan a honeymoon.Entire mountain place is something special that keeps tourists captivated and magic limited for a long period and convince them to come here to discover the true attractiveness of Himachal again and again. You can check out Solan at any time of the season as climate is enjoyable throughout the season.
<br><br><br>
Solan maintains importance as an commercial town.Some of the essential sectors situated here are the Himalayan Tube sectors, Shivalik Bimetal Manages Ltd, and HFCL among others.Arriving from the dry planis, the first quit typically, is Barog, 37 km from Kalka, and 5 km from Solan, Barog, refreshingly awesome identify in pleasant environment is a amazing prelude to the vacation forward. 
<br><br><br>
Along with the stylish Resort Pinewood & Restaurant, the Himachal Travel and leisure Growth Organization has designed a cup home for personal objective. Most of the individuals residing in Solan region are Hindus, followed by Sikhs and Buddhists. The primary 'languages' used are Hindi, British, Pahari and Punjabi.
<br><br><br>
<b>Elevation : 1,350 m above sea level Temperature : Varies between 39C in summer year and 10C during the cold months months year. Best Season : April-June/October-November. Clothing : (Summer/Winter) Light Woollens/Heavy Woollens</b>
</div>
<div id="How To Reach" class="tabcontent">
  <p style="letter-spacing: 1px;">
<h4>By Air</h4>
There are no regular flights from other major cities of the country to Solan. Nearest airport is Chandigarh Airport.
Chandigarh Airport (IXC), Chandigarh, Punjab, Solan 66 km.
<br><br>
<h4>By Train</h4>
Solan is well connected to other major cities of the country via regular trains.
Railway Station(s)   :  Solan (SOL)
<br><br>
<h4>By Road</h4>
You can easily get regular buses to Solan from other major cities.
Bus Station(s): Solan </div>

<div id="Distances" class="tabcontent">
<table>
<th style="background-color:Blue;">Places to Visit</th>
<th style="background-color:Blue;"> Distance from Solan in kms </th>
   <tr>
    <td>Barog</td>
    <td>07</td>
  </tr>
  <tr>
    <td>Chail</td>
    <td>45</td>
  </tr>
  <tr>
    <td>Kasauli</td>
    <td>27</td>
  </tr>
  <tr>
    <td>Dolanji Bon Monastery</td>
    <td>18</td>
  </tr>
  <tr>
    <td>Arki</td>
    <td>53</td>
  </tr>
  <tr>
    <td>Subathu</td>
    <td>22</td>
  </tr>
  <tr>
    <td>Jatolji</td>
    <td>15</td>
  </tr>
  <tr>
    <td>Parwanoo</td>
    <td>40</td>
  </tr>
</table>
</div>
<div id="Things To Do" class="tabcontent">
<p style="letter-spacing: 1px;" "font-size: 40%;" "text-align: justify;">
<script src="C:\Users\acer\OneDrive\Documents\project\js\shimla.js">
</script>