{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Himachal Pradesh Tourism</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css\file.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'image/castle-on-the-hill-bens-pen.jpg' %}">
</head>
<body>
<div class="header">
  <h3>Himachal</h3>
  <h3> Tourism</h3>
</div>
<div class="navbar">
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/tourism.html" class="active">Home</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/contact.html">Contact Us</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/How%20to%20reach.html">How To Reach</a>
  <a href="file:///C:/Users/acer/OneDrive/Documents/project/html/Destination.html">Destination</a>
 </div>
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="{% static 'image/blog1.jpg' %}" style="width:100%">
 <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="{% static 'image/0f1da94590d4a53523da1c2bfb9caa37.jpg' %}" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{% static 'image/feature.jpg' %}" style="width:100%">
  <div class="text"></div>
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
<script src="{% static 'js\tourism.js' %}">
</script>
<div class="grid-container">
  <div class="grid-item">
   <div class="divi">
<h1> Beautiful State</h1>
<p>
Till 19th century, Tourism in Himachal Pradesh was restricted only to a limited movement of piligrams to a few spiritual
 destination in around the hills.Only when the British established their chain of hill station did tourism receive recognition in the state.
Tourism activity received a shot in the arm when British declared Shimla "The Summer Capital of India" in 1864. Post independence, more investment
in the infrastructure sector led to opening of Tourism in the state. However the biggest boost to tourism occured in the mid 80s and 90s.
</p></div>
</div>
<div class="grid-item"><img src="{% static 'image/hp.jpg' %}" width="592" height="400">
</div>
</div>

<div class="footer">
  <h14>Content on this website is collected and coded by Deeksha Kumari.<br><br>Layout of this website is designed by Sourav Sharma<br><br> </h14>
</div>
<div class="sticky">
<marquee width="100%" direction="left" height="20px">
<strong>
Safety Guidelines for Tourist Visiting Himachal Pradesh.... Do not stand at the edge of a cliff or on any bolder near a river bank for photographs etc. The water current in rivers of
Himachal Pradesh is very strong and highly deceptive.
</strong>
</marquee>
</div>
</body>
</html>
</body>
</html>